@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lexend+Deca:wght@100..900&display=swap');
@import url('modules/shared/common.css');
@import url('modules/home/home.css');
@import url('modules/about/about.css');
@import url('modules/journal/journal.css');
@import url('modules/videos/videos.css');
@import url('modules/photos/photos.css');

.css-nesting-supported {
    display: none;
}

html {
    & .css-nesting-supported {
        display: block;
    }

    & .css-nesting-unsupported {
        display: none;
    }
}

:root {
    --anim-duration: 500ms;
    --text-color-dark: rgb(220, 220, 220);
    --text-color-light: black;

    @media (prefers-color-scheme: dark) {
        --background-color: rgb(32, 32, 32);
        --text-color: var(--text-color-dark);
        --caption-color: darkgrey;
    }

    @media (prefers-color-scheme: light) {
        --background-color: white;
        --text-color: var(--text-color-light);
        --caption-color: dimgrey;
    }
}

body {
    margin: 0;
    font-family: 'Lexend Deca', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.2rem;
}

h3 {
    font-size: 1.1rem;
}

h4 {
    font-size: 1.0rem;
    margin-bottom: 0;
}

h5 {
    font-size: 0.94rem;
}

p {
    font-size: 0.94rem;
    line-height: 1.6;

    a {
        text-decoration: underline;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    font-size: 0.94rem;

    li {
        margin-bottom: 4px;
    }
}

.container {
    display: flex;
    height: 100vh;

    .page {
        flex: 1;
        color: var(--text-color);
        background-color: var(--background-color);

        max-height: 100vh;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            display: none;
        }

        -ms-overflow-style: none;
        scrollbar-width: none;

        .content {
            margin-left: 20px;
            margin-right: 20px;
            margin-top: 20px;
            margin-bottom: 80px;
        }
    }

    main {
        animation-duration: var(--anim-duration);
        animation-timing-function: ease;
    }
}

@keyframes simple-fade-in {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes simple-fade-out {
    from {
        opacity: 1
    }

    to {
        opacity: 0
    }
}