#videos {
    article.video-entry {
        min-height: 300px;
        max-width: 900px;
        display: flex;
        flex-direction: column-reverse;
        color: var(--text-color-dark);
        gap: 16px;
        margin-bottom: 36px;
        background-color: rgba(0, 0, 0, 0.4);
        background-size: cover;
        background-blend-mode: darken;
        padding: 20px;
        border-radius: 8px;
        cursor: pointer;
        animation-duration: var(--anim-duration);
        animation-timing-function: ease;
        animation-fill-mode: forwards;
        opacity: 0;

        .entry-title {
            font-family: 'Bebas Neue';
            font-size: 2.1rem;
            font-weight: normal;
        }

        .entry-description {
            font-size: 0.77rem;
        }
    }

    @media only screen and (max-width: 1024px) {
        article.video-entry {
            min-height: 200px;
        }
    }
}